_vti_txt/HTML/CONTACTAR/contacta.dtd

<!ELEMENT pagina (cabecera, cuerpo,pie)>
	<!ELEMENT cabecera (titulo?)>
		<!ELEMENT titulo (#PCDATA)>
	<!ELEMENT cuerpo (rotulo?,calle?, localidad?,provincia,telefono*)>
		<!ELEMENT rotulo (#PCDATA)>
		<!ELEMENT calle (#PCDATA)>
		<!ELEMENT localidad (#PCDATA)>
		<!ELEMENT provincia (#PCDATA)>
		<!ELEMENT telefono (#PCDATA)>
	<!ELEMENT pie (correo*)>
		<!ELEMENT correo (#PCDATA)>
			
		
	