cgi-bin/BTT/HTML/HTML/CONTACTAR/Contactar.dtd

<!ELEMENT pagina (cabecera,cuerpo,pie)>
	<!ELEMENT cabecera (titulo)>
		<!ELEMENT titulo (#PCDATA)>
		
	<!ELEMENT cuerpo (nombre, telefono, correo)>
		<!ELEMENT nombre (#PCDATA)>
		<!ELEMENT telefono (#PCDATA)>
		<!ELEMENT correo (#PCDATA)>
	
	<!ELEMENT pie (link1, link2, boton)>
		<!ELEMENT link1 (#PCDATA)>
		<!ELEMENT link1 (#PCDATA)>
		<!ELEMENT boton (#PCDATA)>
	
	